.chat-space__message
  .chat-space__message__upper
    .chat-space__message__upper--user
      = message.user.name
    .chat-space__message__upper--time
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .chat-space__message__lower
    - if message.body.present?
      .chat-space__message__lower--text
        = message.body
    = image_tag message.picture.url, class: 'chat-space__message__lower--picture' if message.picture.present?
