.side-bar
  .side-header
    = link_to do
      %i.fa.fa-cog.fa-fw.side-header__icon
    = link_to edit_user_path(current_user) do
      %i.fa.fa-edit.fa-fw.side-header__icon
    .side-header__name =current_user.name
  .side-groups
    %ul.side-groups-detail
      %li.side-groups-detail__name test-group
      %li.side-groups-detail__first-message さようなら！
    %ul.side-groups-detail
      %li.side-groups-detail__name sample-group
      %li.side-groups-detail__first-message hello!
    %ul.side-groups-detail
      %li.side-groups-detail__name example
      %li.side-groups-detail__first-message まだメッセージがありません