= render 'header'
.side-bar
  .side-header
    = link_to do
      %i.fa.fa-cog.fa-fw.side-header__icon
      %i.fa.fa-edit.fa-fw.side-header__icon
    .side-header__name test-user
  .side-groups
    %ul.side-groups__detail
      %li.side-groups__detail--name test-group
      %li.side-groups__detail--first-message さようなら！
    %ul.side-groups__detail
      %li.side-groups__detail--name sample-group
      %li.side-groups__detail--first-message hello!
    %ul.side-groups__detail
      %li.side-groups__detail--name example
      %li.side-groups__detail--first-message まだメッセージがありません
.main-chat
  .chat-top
    .chat-top-group
      chat
      %ul.chat-top-group__members
        Member : 
        %li.chat-top-group__members--detail
          test1
        %li.chat-top-group__members--detail
          test2
    %a.chat-top__edit-button Edit
  .chat-space
    %ul.chat-space__message
      %li.chat-space__message__user
        test-user
      %li.chat-space__message__user--time
        2019/05/22(Wed) 00:00:00
    .chat-space__message__text こんにちは！
    %ul.chat-space--message
      %li.chat-space__message__user
        test-user
      %li.chat-space__message__user--time
        2019/05/22(Wed) 00:00:00
    .chat-space__message__text さようなら！
  %form.chat-form
    %input.chat-form__input{ type: 'text', placeholder: 'type a message' }
    %label
      %i.fa.fa-image.fa-lg.chat-form__icon
      %input.chat-form__image-input{ type: 'file' }
    %a.chat-form__send-button Send

