=render 'header'

.side-bar
  .side-bar__user
    =link_to do
      %i.fa.fa-cog.fa-fw.side-bar__user--icon 
      %i.fa.fa-edit.fa-fw.side-bar__user--icon 
    .side-bar__user--name test-user
  .side-bar__groups
    .side-bar__groups--detail
      .side-bar__groups--detail--name test-group
      .side-bar__groups--detail--first-message さようなら！
    .side-bar__groups--detail
      .side-bar__groups--detail--name sample-group
      .side-bar__groups--detail--first-message hello!
    .side-bar__groups--detail
      .side-bar__groups--detail--name example
      .side-bar__groups--detail--first-message まだメッセージがありません
.main-chat
  .main-chat__group-name
  .main-chat__chat-space
