=render 'header'

.side-bar
  .side-header
    =link_to do
      %i.fa.fa-cog.fa-fw.side-header__icon 
      %i.fa.fa-edit.fa-fw.side-header__icon 
    .side-header__name test-user
  .side-groups
    %ul.side-groups__detail
      %li.side-groups__detail--name test-group
      %li.side-groups__detail--first-message さようなら！
    %ul.side-groups__detail
      %li.side-groups__detail--name sample-group
      %li.side-groups__detail--first-message hello!
    %ul.side-groups__detail
      %li.side-groups__detail--name example
      %li.side-groups__detail--first-message まだメッセージがありません
.main-chat
  .main-chat__top
    .main-chat__top--group 
      chat
      %ul.main-chat__top--group--members
        Member : 
        %li.main-chat__top--group--members--detail 
          test1
        %li.main-chat__top--group--members--detail 
          test2
    %a.main-chat__top--button Edit
  .main-chat__chat-space
    %ul.main-chat__chat-space--message
      %li.main-chat__chat-space--message--user
        test-user
      %li.main-chat__chat-space--message--user--time
        2019/05/22(Wed) 00:00:00
    .main-chat__chat-space--message--text こんにちは！
    %ul.main-chat__chat-space--message
      %li.main-chat__chat-space--message--user
        test-user
      %li.main-chat__chat-space--message--user--time
        2019/05/22(Wed) 00:00:00
    .main-chat__chat-space--message--text さようなら！
  %form.main-chat__form
    %input.main-chat__form--input{type: "text", placeholder: "type a message"}
    %label
      %i.fa.fa-image.fa-lg.main-chat__form--icon
      %input.image-input{type: "file"}
    %a.main-chat__form--button Send
 

