=render 'header'

.side-bar
  .side-bar__user
    =link_to do
      %i.fa.fa-cog.fa-fw.side-bar__user--icon 
      %i.fa.fa-edit.fa-fw.side-bar__user--icon 
    .side-bar__user--name test-user
  .side-bar__groups
    %ul.side-bar__groups--detail
      %li.side-bar__groups--detail--name test-group
      %li.side-bar__groups--detail--first-message さようなら！
    %ul.side-bar__groups--detail
      %li.side-bar__groups--detail--name sample-group
      %li.side-bar__groups--detail--first-message hello!
    %ul.side-bar__groups--detail
      %li.side-bar__groups--detail--name example
      %li.side-bar__groups--detail--first-message まだメッセージがありません
.main-chat
  .main-chat__top
    .main-chat__top--group 
      chat
      %ul.main-chat__top--group--members
        Member : 
        %li.main-chat__top--group--members--detail 
          test1
        %li.main-chat__top--group--members--detail 
          test2
    %a.main-chat__top--button Edit
  .main-chat__chat-space
    %ul.main-chat__chat-space--message
      %li.main-chat__chat-space--message--user
        test-user
      %li.main-chat__chat-space--message--user--time
        2019/05/22(Wed) 00:00:00
    .main-chat__chat-space--message--text こんにちは！
    %ul.main-chat__chat-space--message
      %li.main-chat__chat-space--message--user
        test-user
      %li.main-chat__chat-space--message--user--time
        2019/05/22(Wed) 00:00:00
    .main-chat__chat-space--message--text さようなら！
 

