.main-chat {
  float: right;
  height: 100%;
  position: relative;
  text-align: left;
  width: calc(100vw - 300px);
}

.chat-top { 
  border-bottom: solid thin #eee;
  height: 100px;
  padding: 0 40px;
  position: fixed;
  width: calc(100vw - 300px);
  background-color: $White;
  z-index: 1;
  &-group {
    color: #333;
    float: left;
    font-size: 20px;
    padding-top: 35px;
    &__members {
      color: $subInfoColor;
      font-size: 12px;
      padding-top: 15px;
      &--detail {
        display: inline;
      }
    }
  }
  &__edit-button {
    border: solid 1px $headerButtonColor;
    color: $headerButtonColor;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.chat-space {
  background-color: #fafafa;
  height: calc(100% - 100px);
  padding: 146px 40px 136px;
  &__message {
    padding-bottom: 40px;
    &__upper{
      margin-bottom: 10px;
      display: flex;
      &--user {
        color: $messageColor;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }
      &--time {
        color: $subInfoColor;
        font-size: 12px;
        vertical-align: top;
      }
    }
    &__lower{
      &--text {
        color: $messageColor;
        font-size: 14px;
      }
    }
  }
}

.chat-form {
  background-color: #ddd;
  bottom: 0;
  padding: 20px 40px;
  position: absolute;
  width: calc(100vw - 300px);
  &__input {
    border-style: none;
    height: 50px;
    padding: 0 40px 0 10px;
    position: relative;
    width: calc(100% - 115px);
  }
  &__icon {
    cursor: pointer;
    line-height: 50px;
    position: absolute;
    top: 20px;
    right: 165px;
  }
  &__image-input {
    display: none;
  }
  &__send-button {
    background-color: $headerButtonColor;
    color: $White;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    position: absolute;
    top: 20px;
    right: 40px;
    width: 100px;
    &:hover {
      cursor: pointer;
    }
  }
}
